In [ ]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [6]:
a=pd.Series([4,8,15,16,23,42])

In [7]:
a

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on thevariable print it.

In [10]:
list=[1,13,18,17,38,True,'sudh','pwskills','harry',12.3]

In [11]:
b=pd.Series(list)

In [12]:
b

0           1
1          13
2          18
3          17
4          38
5        True
6        sudh
7    pwskills
8       harry
9        12.3
dtype: object

In [13]:
#Q3. Create a Pandas DataFrame that contains the following data:

#Then, print the DataFrame.

In [14]:
c=pd.DataFrame({'name':['Alice','Bob','clarie'],'age':[25,30,27],'Gender':['Female','Male','Female']})

In [15]:
c

     name  age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  clarie   27  Female

In [16]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [17]:
In pandas, a DataFrame is a two-dimensional tabular data structure consisting of rows and columns
ex:CSV files, SQL databases, Excel files, or Python dictionaries.
a pandas Series is a one-dimensional labeled array that can hold data of any type (integer, float, string, etc.)

SyntaxError: invalid syntax (1851492646.py, line 1)

In [18]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Canyou give an example of when you might use one of these functions?

In [ ]:
head()
tail()
describe()
iloc[]
loc[]

In [19]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Both Series and DataFrame are mutable in nature, whereas Panel is considered as deprecated and is no longer recommended for use in pandas version 1.0 and above.

In [20]:
#Create a DataFrame using multiple Series. Explain with an example.

In [22]:
names=pd.Series(['sudh','krish','harry','love babbar','striver'])
topics=pd.Series(['python','stats','web','DSA','GRAPHS'])
ages=pd.Series([30,32,29,28,27])

In [24]:
D=pd.DataFrame({'name':names,'topic':topics,'age':ages})

In [25]:
D

          name   topic  age
0         sudh  python   30
1        krish   stats   32
2        harry     web   29
3  love babbar     DSA   28
4      striver  GRAPHS   27